.contact-landing {
  position: relative;
  height: 80vh;
  width: 100vw;
  padding-top: 13rem;
  padding-bottom: 10vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.contact-landing h1 {
  position: absolute;
  bottom: 15%;
  left: 10%;
  color: white;
  font-size: 11rem;
}
.contact-landing h3 {
  position: absolute;
  bottom: 14%;
  left: 10%;
  color: white;
  font-size: 3rem;
}

.contact-form {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  background-size: cover;
  margin-bottom: 50vh;
  overflow: hidden;
}
.contact-form .blueblur {
  position: absolute;
  height: 100vh;
  right: -40%;
}
.contact-form .main-home-line {
  padding: 3rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-form .main-home-line div:first-child {
  height: 10px;
  width: 10px;
  background-color: #7f5cf4;
  border: none;
}
.contact-form .main-home-line div:nth-child(2) {
  height: 1px;
  width: 100%;
  background-color: #7f5cf4;
  border: none;
}
.contact-form .main-home-line div:last-child {
  height: 10px;
  width: 10px;
  background-color: #7f5cf4;
  border: none;
}
.contact-form .format {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5vh;
}
.contact-form .format .one {
  height: 100%;
  width: 50%;
}
.contact-form .format .one form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.contact-form .format .one input {
  padding: 1rem;
  padding-bottom: 0.2rem;
  width: 40rem;
  background-color: transparent;
  height: 5rem;
  border: none;
  border-bottom: #7f5cf4 1px solid;
  color: white;
  background-color: rgb(32, 32, 32);
}
.contact-form .format .one input:focus {
  outline: none;
}
.contact-form .format .one input::-webkit-outer-spin-button,
.contact-form .format .one input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contact-form .format .one input[type=number] {
  -moz-appearance: textfield;
}
.contact-form .format .one textarea:focus {
  outline: none;
}
.contact-form .format .one textarea {
  background-color: rgb(32, 32, 32);
  padding: 1rem;
  padding-bottom: 0.2rem;
  color: white;
  width: 40rem;
  resize: none;
  height: 10rem;
  border: none;
  border-bottom: #7f5cf4 1px solid;
}
.contact-form .format .one ::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}
.contact-form .format .one :-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}
.contact-form .format .one ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}
.contact-form .format .one :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(255, 255, 255);
}
.contact-form .format .one ::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(255, 255, 255);
}
.contact-form .format .one .Submit {
  height: 6rem;
  width: 15rem;
  font-size: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0px;
  color: white;
  background-color: rgb(115, 22, 203);
}
.contact-form .format .two {
  padding-bottom: 10rem;
  z-index: 1;
  color: white;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 7rem;
}
.contact-form .format .two span {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 6.5rem;
}
.contact-form .format .two span div {
  height: 5px;
  width: 15rem;
  background-color: rgb(255, 255, 255);
}
.contact-form .format .two p {
  font-size: 1.4rem;
  width: 70%;
  padding-top: 3rem;
}
.contact-form .contact-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}/*# sourceMappingURL=Contact.css.map */